FortBook/src/conf/xml-resources/web-service-references/LikeService/wsdl/localhost_8080/FortBookServices/LikeService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://fortbookservices.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fortbookservices.com/">

<xs:element name="likeStatus" type="tns:likeStatus"/>

<xs:element name="likeStatusResponse" type="tns:likeStatusResponse"/>

<xs:complexType name="likeStatus">
<xs:sequence>
<xs:element name="postid" type="xs:int"/>
<xs:element name="userid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="likeStatusResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>